*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-family: 'BlinkMacSystemFont', -apple-system, 'San Francisco', Helvetica, Arial, sans-serif;;
  font-weight: 100;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom,#041727 0%,#062b3f 100%);
  color: #fff;
}

a,
a:visited {
    color: #41F5C0;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


.icon,
.title {
    margin: 0 0 15px 0;
}

.icon {
    width: 82px;
    height: 82px;
}

.title {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0;
    color: #fff;
    margin-bottom: 15px;
}

.description {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0;
    max-width: 620px;
    line-height: 30px;
}

.screenshot_container {
    width: 300px;
    height: 300px;
    border-radius: 2px;
    overflow: hidden;
}
.screenshot {
    width: 300px;
}

.button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    padding: 8px 24px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    color: #4A4A4A;
    background-color: #41F5C0;
}

.button:hover {
    background-color: #5FFFD0;
}

.button:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    background-color: rgba(158,158,158,.4);
}

.button--download {
    margin: 40px 10px ;
}

footer {
    font-size: .75rem;
    display: flex;
    font-weight: 600;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 10px 20px;
}

.footer--item {
    margin-left: 20px;
    opacity: 0.4;
}

a.footer--item:hover {
    opacity: 1;
    transition: opacity 80ms ease-out;
}

