.title {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.screenshot {
    width: 250px;
    margin: 30px;
}

.download_button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    color: #4A4A4A;
    background-color: #41F5C0;
}


.download_button:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    background-color: rgba(158,158,158,.4);
}
