.this {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #555;
    cursor: default;
    -webkit-app-region: drag;
}
