.this {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    height: 60px;
    border-bottom: 1px solid var(--medium-gray);
    transition: background-colorq 100ms ease-out;
}

.this:hover {
    background-color: var(--light-gray);
}

.icon,
.image,
.button {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}

.icon {
    margin-right: 20px;
    width: 40px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--medium-gray);
}

.image {
    max-width: 40px;
    max-height: 40px;
    border-radius: 1px;
}

.name {
    flex: 1;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #4A4A4A;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.copy {
    padding: 2px 8px;
    margin: 0 0 0 10px;
    font-size: 12px;
    color: var(--dark-gray);
    border-radius: 4px;
    cursor: pointer;
    transition: all 100ms ease-out;
}

.copy:hover {
    color: var(--darkest-gray);
    background-color: var(--medium-gray);
}
