.btn,
.btn .icon {
    cursor: pointer;
}

.toolbar-header .title {
  -webkit-app-region: drag;
}

.toolbar-actions {
    margin-top: 12px;
}

.toolbar-footer {
    padding: 0 5px;
}

.toolbar-header {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
