.btn,
.btn .icon {
    cursor: pointer;
}

.toolbar-header .title {
  -webkit-app-region: drag;
}

.toolbar-actions {
    margin-top: 12px;
}

.toolbar-footer {
    padding: 0 5px;
}

.toolbar-header {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-4px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.notification {
    width: 80%;
    border-radius: 5px;
    position: absolute;
    margin: 10px 10%;
    text-align: center;
    padding: 5px;
    z-index: 100;
    background-color: #41F5C0;
    color: #4A4A4A;
    animation: fadeIn 180ms ease-out;
    animation-fill-mode: both;
}
